.cryptoCoin {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 17px;
    font-family: 'Fontdiner Swanky';
    background-image: url('../Images/Silver.jpg');
    background-size: cover;
    background-size: 250% 250%;
    color: rgba(42, 81, 109);
    border: 1px solid rgb(221, 217, 217);
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
}

.cryptoCoinFront, .cryptoCoinBack {
    backface-visibility: hidden;
    position: absolute;
}

.cryptoCoinFront {
    z-index: 4;
    transform: rotateX(0deg);
}

.cryptoCoinBack {
    z-index: 3;
    transform: rotateX(180deg);
}

.cryptoOne {
    animation: TransitioningBackground 21s linear infinite;
    position: absolute;
    /* right: 20px;
    top: 50px; */
}

.coinContainerOne {
    perspective: 1000px;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    right: 20px;
    top: 50px;
    z-index: 1;
}

.coinContainerThree {
    perspective: 1000px;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    right:110px;
    top:40px;
    z-index: 1;
}

.coinContainerTwo {
    perspective: 1000px;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    right: 65px;
    top: 45px;
    z-index: 1;
}

.coinFlipper {
    height: 35px;
    width: 35px;
    transition: 2s;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
    border-radius: 50%;
}

.cryptoOneRoll {
    animation-name: rollOne, rotate;
    animation-duration: 1.5s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    visibility: hidden;
}

.cryptoOneFall {
    animation-name: fallOne;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    /* visibility: hidden; */
}

@keyframes rollOne {
    0% {
        right: 20px;
        top: 50px;
        visibility: visible;
    }
    100% {
        right: -100px;
        top: 60px;
        visibility: hidden;
    }
  }

@keyframes fallOne {
    0% {
        right: 20px;
        top: 50x;
        visibility: visible;
    }
    100% {
        right: 20px;
        top: 810px;
        visibility: hidden;
    }
}


.cryptoTwo {
    animation: TransitioningBackground 19s linear infinite;
    position: absolute;
}

.cryptoTwoRoll {
    animation-name: rollTwo, rotate;
    animation-duration: 1.5s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    visibility: hidden;
}

.cryptoTwoFall {
    animation-name: fallTwo;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    /* visibility: hidden; */
}

@keyframes rollTwo {
    0% {
        right: 65px;
        visibility: visible;
        top: 45px;
    }
    100% {
        right: -160px;
        visibility: hidden;
        top: 75px;
    }
  }

  @keyframes fallTwo {
    0% {
        right: 65px;
        top: 45px;
        visibility: visible;
    }
    100% {
        right: 65px;
        top: 810px;
        visibility: hidden;
    }
}

.cryptoThree {
    animation: TransitioningBackground 22s linear infinite;
    position: absolute;
}

.cryptoThreeRoll {
    animation-name: rollThree, rotate;
    animation-duration: 1.5s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    visibility: hidden;
}

.cryptoThreeFall {
    animation-name: fallThree;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    /* visibility: hidden; */
}

@keyframes rollThree {
    0% {
        right: 110px;
        top: 40px;
        visibility: visible;
    }
    100% {
        right: -160px;
        top: 75px;
        visibility: hidden;
    }
  }

  @keyframes fallThree {
    0% {
        right: 110px;
        top: 40x;
        visibility: visible;
    }
    100% {
        right: 110px;
        top: 810px;
        visibility: hidden;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

/* @keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    75% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 1% 0%;
    }
} */
