.cryptoCoin {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 17px;
    font-family: 'Fontdiner Swanky';
    background-image: url('../Images/Silver.jpg');
    background-size: cover;
    background-size: 300% 300%;
    color: rgba(42, 81, 109);
    border: 1px solid rgb(221, 217, 217);
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(192, 192, 192);
}

.cryptoOne {
    animation: TransitioningBackground 35s linear infinite;
    position: absolute;
}

.coinContainerOne {
    perspective: 1000px;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    right: 20px;
    top: 50px;
    z-index: 1;
}

.coinContainerThree {
    perspective: 1000px;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    right:110px;
    top:40px;
    z-index: 1;
}

.coinContainerTwo {
    perspective: 1000px;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    right: 65px;
    top: 45px;
    z-index: 1;
}

.cryptoOneRoll {
    animation-name: rollOne, rotate;
    animation-duration: 2s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, ease-in;
    visibility: hidden;
}

.cryptoOneFall, .coinFlipperOne {
    animation-name: fallOne, flipOne;
    animation-duration: 1.7s, 1.7s;
    animation-iteration-count: 1, 1;
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33), ease-in;
}

@keyframes rollOne {
    0% {
        right: 20px;
        top: 50px;
        visibility: visible;
    }
    100% {
        right: -100px;
        top: 60px;
        visibility: hidden;
    }
  }

@keyframes fallOne {
    0% {
        right: 20px;
        top: 50x;
        visibility: visible;
    }
    100% {
        right: 20px;
        top: 810px;
        visibility: hidden;
    }
}

@keyframes flipOne {
    0%, 100% {
        transform: rotateX(0deg)
    }
    50% {
        transform: rotateX(180deg)
    }
}


.cryptoTwo {
    animation: TransitioningBackground 32s linear infinite;
    position: absolute;
}

.cryptoTwoRoll {
    animation-name: rollTwo, rotate;
    animation-duration: 2s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, ease-in;
    visibility: hidden;
}

.cryptoTwoFall, .coinFlipperTwo {
    animation-name: fallTwo, flipTwo;
    animation-duration: 1.7s, 1.7s;
    animation-iteration-count: 1, 1;
    animation-delay: 0.5s, 0.5s;
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33), ease-in;
}

@keyframes rollTwo {
    0% {
        right: 65px;
        visibility: visible;
        top: 45px;
    }
    100% {
        right: -160px;
        visibility: hidden;
        top: 75px;
    }
  }

  @keyframes fallTwo {
    0% {
        right: 65px;
        top: 45px;
        visibility: visible;
    }
    100% {
        right: 65px;
        top: 810px;
        visibility: hidden;
    }
}

@keyframes flipTwo {
    0%, 100% {
        transform: rotateX(0deg)
    }
    50% {
        transform: rotateX(180deg)
    }
}

.cryptoThree {
    animation: TransitioningBackground 29s linear infinite;
    position: absolute;
}

.cryptoThreeRoll {
    animation-name: rollThree, rotate;
    animation-duration: 2s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, ease-in;
    visibility: hidden;
}

.cryptoThreeFall, .coinFlipperThree {
    animation-name: fallThree, flipThree;
    animation-duration: 1.7s, 1.7s;
    animation-iteration-count: 1, 1;
    animation-delay: 1s, 1s;
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33), ease-in;
}

@keyframes rollThree {
    0% {
        right: 110px;
        top: 40px;
        visibility: visible;
    }
    100% {
        right: -160px;
        top: 75px;
        visibility: hidden;
    }
  }

  @keyframes fallThree {
    0% {
        right: 110px;
        top: 40x;
        visibility: visible;
    }
    100% {
        right: 110px;
        top: 810px;
        visibility: hidden;
    }
}

@keyframes flipThree {
    0%, 100% {
        transform: rotateX(0deg)
    }
    50% {
        transform: rotateX(180deg);
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

@keyframes TransitioningBackground {
    0% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}
