@keyframes TransitioningBackground {
    0% {
        background-position: 20% 0%;
    }
    50% {
        background-position: 40% 100%;
    }
    100% {
        background-position: 20% 0%;
    }
}

.scoreTimerDiv {
    position: absolute;
    left: 50px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 45px;
    font-family: 'Fontdiner Swanky';
    background-image: url('../Images/gold.jpg');
    background-size: cover;
    background-size: 250% 250%;
    overflow: hidden;
    animation: TransitioningBackground 10s linear infinite;
    color: rgba(5, 13, 133, 0.9);
    border: 1px solid #503c11;
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

/* .scoreTimer {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color:rgb(236, 235, 225);
} */
