@keyframes TransitioningBackground {
    0% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

.scoreTimerDiv {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 36px;
    font-family: 'Fontdiner Swanky';
    background-image: url('../Images/Silver.jpg');
    background-size: cover;
    background-size: 300% 300%;
    overflow: hidden;
    animation: TransitioningBackground 40s linear infinite;
    color: rgba(42, 81, 109);
    border: 1px solid rgb(221, 217, 217);
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.scoreTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    z-index: 2;
}

.scoreContainer {
    position: absolute;
    top: 10px;
    left: 70px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 2;
    transform: rotateX(0deg)
}

.scoreFall {
    animation-name: scoreFall, scoreFlip;
    animation-duration: 1.7s, 1.7s;
    animation-iteration-count: 1, 1;
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33), ease-in;
    animation-direction: normal, reverse;
}

@keyframes scoreFall {
    0% {
        left: 70px;
        top: 10x;
        visibility: visible;
    }
    100% {
        left: 70px;
        top: 810px;
        visibility: hidden;
    }
}

@keyframes scoreFlip {
    0%, 100% {
        transform: rotateX(0deg)
    }
    50% {
        transform: rotateX(-180deg);
    }
}
