@keyframes TransitioningBackground {
    0% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

.scoreTimerDiv {
    position: absolute;
    left: 50px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 36px;
    font-family: 'Fontdiner Swanky';
    background-image: url('../Images/Silver.jpg');
    background-size: cover;
    background-size: 300% 300%;
    overflow: hidden;
    animation: TransitioningBackground 40s linear infinite;
    color: rgba(42, 81, 109);
    border: 1px solid rgb(255, 90, 0);
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

.scoreTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}
