.convertDiv {
    height: 300px;
    width: 290px;
    background-color: rgb(206, 186, 186);
    overflow: visible;
    box-shadow:  3px 20px 20px 5px rgb(0, 0, 0, 0.5);
}

#leftConvert {
    position: absolute;
    width: 240px;
    left: 0px;
    bottom: 0px;
    border-top-right-radius: 15%;
    /* background: linear-gradient(to left, rgb(158, 126, 131) 0.5%, rgb(206, 186, 186) 99.9%); */
}

#rightConvert {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 15%;
    /* background: linear-gradient(to right, rgb(158, 126, 131) 0.5%, rgb(206, 186, 186) 99.5%); */
}

.leftButtonDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 140px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 830px;
    width: 150px;
    background-color: rgb(206, 186, 186);
    background: linear-gradient(to right, rgb(158, 126, 131) 0.5%, rgb(206, 186, 186) 99.5%);
    z-index: 3;
    border-top-right-radius: 35px;
    /* box-shadow:  3px 20px 20px 5px rgb(0, 0, 0, 0.5); */
}

.rightButtonDiv {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 600px;
    width: 170px;
    background-color: rgb(206, 186, 186);
    background: linear-gradient(to left, rgb(158, 126, 131) 0.5%, rgb(206, 186, 186) 99.5%);
    /* box-shadow:  3px 20px 20px 5px rgb(0, 0, 0, 0.5); */
    z-index: 3;
    border-top-left-radius: 35px;
}

.convertTextDiv {
    text-align: center;
    height: 60px;
    width: 90px;
    margin-bottom: -26px;
    color: rgba(5, 13, 133, 0.9);
    font-size: 18px;
    font-family: 'Fontdiner Swanky';
    line-height: 25px;
}

.rightConvertTextDiv {
    text-align: center;
    height: 80px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 6px;
    color: rgba(5, 13, 133, 0.9);
    font-size: 22px;
    font-family: 'Fontdiner Swanky';
    line-height: 25px;
}

.convertButton {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 2px;
    height: 35px;
    width: 95px;
    margin-top: 25px;
    background-color: rgba(5, 13, 133, 0.9);
    border-radius: 5%;
    color:  rgb(206, 186, 186);
    font-family: 'Fontdiner Swanky';
    border-radius: 5px;
    overflow: hidden;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

.activeConvert {
    background-color: rgb(182, 5, 58);
}

.hiddenConvert {
    background-color: rgba(5, 13, 133, 0.9);
}

.convertButton:hover {
    background-image: linear-gradient(170deg,  rgb(182, 5, 58), rgb(5, 13, 133, 0.9));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;
}

.activeConvert:hover {
    background-color: rgb(182, 5, 58);
    background-image: none;
    animation: none;
    transition: none;
}

.rightConvertButton {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-top: 2px;
    height: 45px;
    width: 115px;
    margin-top: 5px;
    background-color: rgba(5, 13, 133, 0.9);
    border-radius: 5%;
    color:  rgb(206, 186, 186);
    font-family: 'Fontdiner Swanky';
    border-radius: 5px;
    overflow: hidden;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

.rightConvertButton:hover {
    background-image: linear-gradient(170deg,  rgb(182, 5, 58), rgb(5, 13, 133, 0.9));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;
}

.upperButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 520px;
    width: 140px;
    margin-top: 15px;
}

.rightButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    width: 140px;;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 600px;
    width: 170px;
}

.convertInputDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 10px;
    height: 260px;
    width: 230px;
    z-index: 4;
}

/* form {
    overflow: visible;
} */

.rightConvertInputDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left:20px;
    height: 270px;
    width: 270px;
    z-index: 5;
}

.convertLabel {
    color: rgba(5, 13, 133, 0.9);
    font-size: 18px;
    font-family: 'Fontdiner Swanky';
    margin-top: 0px;
    height: 85px;
    padding-top: 5px;
}

.convertLabelDiv {
    margin-top: 5px;
    height: 100px;
    color: rgba(5, 13, 133, 0.9);
}


.rightLabelDiv {
    margin-top: 0px;
    height: 100px;
    color: rgba(5, 13, 133, 0.9);
}

.rightLabel {
    text-align: center;
    color: rgba(5, 13, 133, 0.9);
    font-size: 21px;
    font-family: 'Fontdiner Swanky';
    margin-top: 10px;
    height: 30px;
    padding-top: 5px;
}

.convertInput {
    width: 170px;
    height: 28px;
    margin-top: 7px;
    margin-bottom: 7px;
    z-index: 5;
}

.rightInput {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 45px;
    margin-left: 10px;
    border: 4px solid rgba(5, 13, 133, 0.9);
    background: linear-gradient( rgb(236, 224, 224) 0.5%,  rgb(212, 190, 194) 99.5%);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Fontdiner Swanky';
    color: rgba(5, 13, 133, 0.9);
    font-size: 18px;
}


.convertArrow {
    transform: rotate(90deg);
    color:rgba(5, 13, 133, 0.9);
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitButton {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 2px;
    height: 45px;
    width: 95px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: rgba(5, 13, 133, 0.9);
    border-radius: 5%;
    color:  rgb(206, 186, 186);
    font-family: 'Fontdiner Swanky';
    border-radius: 5px;
    overflow: hidden;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    background-image: url('../Images/gold.jpg');
    background-size: cover;
    background-size: 250% 250%;
    overflow: hidden;
    animation: TransitioningBackground 20s linear infinite;
    color: rgba(5, 13, 133, 0.9);
    border: 1px solid #503c11;
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(5, 13, 133, 0.9);
    box-sizing: border-box;
}

.submitButton:hover {
    border: 2px solid rgb(236, 224, 224);
    box-sizing: border-box;
}

.convertBling {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('../Images/gold.jpg');
    background-size: cover;
    background-size: 250% 250%;
    overflow: hidden;
    animation: TransitioningBackground 10s linear infinite;
    color: rgba(5, 13, 133, 0.9);
    border: 1px solid #503c11;
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.firstBling {
    bottom: 188px;
    left: -5px;
}
.secondBling {
    bottom: 98px;
    left: -5px;
}
.thirdBling {
    bottom: 8px;
    left: -5px;
}

@keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 50% 0%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 1% 0%;
    }
}
