.footerDiv {
    position: relative;
    align-self: flex-end;
    padding-bottom: 25px;
    bottom: 2px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    z-index: 0;
    /* background-color: blanchedalmond; */
}
