.startTimerDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: radial-gradient(circle at 150px 150px, rgb(250, 230, 230), rgb(70, 10, 18));
    color: rgba(5, 13, 133, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue';
    z-index: 1;
}

.startTimer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    /* background-color: papayawhip; */
    color: rgba(5, 13, 133, 0.9);
    border-radius: 50%;
    font-size: 120px;
}

.startTimerDiv::before {
    content: '';
    position: absolute;
    bottom: 10%;
    top: 0%;
    right: 0%;
    left: 0%;
    width: 102%;
    height: 102%;
    border-radius:50%;
    background: radial-gradient(circle at 40% 80px, rgb(250, 230, 230), rgb(70, 10, 18) 190%);
    filter: blur(3px);

}


.startButton {
    height: 60px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 35px;
    box-shadow: 4px 5px 20px 5px rgba(0, 0, 0, 0.5);
}

.startButton:hover {
    background-image: linear-gradient(to left, rgb(5, 13, 133, 0.9), rgb(182, 5, 58));
    height: 85px;
    width: 145px;
    font-size: 37px;
    cursor: pointer;
}


.colorText {
    position: absolute;
    top: 110px;
    right: 175px;
    color: rgba(5, 13, 133);
    font-size: 50px;
    font-weight: bolder;
}

.colorNumber {
    position: relative;
    font-size: 40px;
    color: rgba(5, 13, 133);
    padding-bottom: 20px;
    font-weight: bolder;
}
