.plateDiv {
    top: 1.5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 97%;
    width: 97%;
    border-radius: 50%;
    box-shadow:  1px 1px 5px 0.5px rgb(173, 126, 140, 0.5);
    background: radial-gradient(circle at 400px 550px, hsl(0, 16.9%, 76.9%), hsl(351, 24.4%, 33.7%));
    z-index: 1;
}

.lipDiv {
    position: absolute;
    top: 40px;
    height: 720px;
    width: 720px;
    border-radius: 50%;
    background: radial-gradient(circle at 350px 50px,hsl(0, 16.9%, 76.9%), hsl(351, 24.4%, 33.7%));
    box-shadow:  3px 20px 20px 5px rgb(0, 0, 0, 0.5);
    z-index: 1;
    font-size: 44px;
}


@media only screen and (max-width: 1330px), (max-height: 900px) {
    .lipDiv {
        height: 620px;
        width: 620px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1200px), (max-height: 800px) {
    .lipDiv {
        height: 520px;
        width: 520px;
        font-size: 34px;
    }
}

@media only screen and (max-width: 900px), (max-height: 700px) {
    .lipDiv {
        height: 420px;
        width: 420px;
        font-size: 24px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 800px), (max-height: 600px) {
    .lipDiv {
        height: 360px;
        width: 360px;
        font-size: 20px;
    }
    .bowlOutter {
        position: absolute;
        bottom: 50px;
    }
}

.targetColorDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58%;
    width: 58%;
    border-radius: 50%;
    background: radial-gradient(circle at 150px 150px, hsl(0, 16.9%, 76.9%), hsl(351, 24.4%, 33.7%));
    color: rgba(42, 81, 109);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue';
    z-index: 1;
}

.colorText {
    position: absolute;
    top: 30%;
    right: 39%;
    color: rgba(42, 81, 109);
    font-weight: bolder;
}

.colorNumber {
    position: relative;
    font-size: 93%;
    color: rgba(42, 81, 109);
    font-weight: bolder;
}

.plateWheel {
    height: 40%;
    width: 60%;
    background-image: url('../../Images/colour-wheel-1734867_1920.png');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    animation: roll 20s infinite linear;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.startButton {
    margin-bottom: 5px;
    height: 15%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 5px 20px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    color: rgb(230, 220, 220);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    font-family: 'Fontdiner Swanky';
    background-image: linear-gradient(270deg, rgb(87, 189, 227), rgba(42, 81, 109));
    background-size: 400% 400%;
    animation: TransitioningBackground 12s ease infinite;
    transition: 0.6s;
    font-size: 57%;
}

.startButton:hover, .startButton:focus {
    background-image: none;
    background-color:  rgb(255, 90, 0);
    color: rgba(42, 81, 109);
    cursor: pointer;
    outline: none;
}
