.bannerDiv {
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    color: rgba(42, 81, 109);
    font-family: 'Fontdiner Swanky';
    background: linear-gradient( rgb(158, 126, 131) 0.5%, rgb(206, 186, 186) 99.5%);
}

.gameName {
    position: relative;
    padding-left: 20px;
    padding-right: 5px;
    margin-top: 12px;
    font-size: 60px;
    text-shadow: 2px 2px 3px rgb(158, 126, 131);
}

@media only screen and (max-width: 900px) {
    .gameName {
        margin-top: 18px;
        font-size: 45px;
    }
}

@media only screen and (max-width: 700px) {
    .gameName {
        margin-top: 28px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) {
    .gameName {
        visibility: hidden;
    }
}


.userName {
    position: absolute;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    right: 10px;
    top: 10px;
    font-size: 22px;
    color: rgba(42, 81, 109, 0.7);
}

.userName:hover {
    color: rgba(42, 81, 109);
}
