#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
  }

  #modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color:white; */
    height: 380px;
    width: 790px;
    color: #ecf0f1;
    border-radius: 5px;
    padding: 25px;
    background: rgba( 255, 255, 255, 0.5 );
    border: solid 1px rgba(255,255,255,0.3);
    background-clip: padding-box;
    backdrop-filter: blur(15px );
    border: 1px solid rgb(236, 224, 224);
  }
