
.backDrop {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bannerDiv {
    height: 70px;
}

.upperRoundDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 93vh;
    background-color: rgb(206, 186, 186);
    z-index: 0;
}

.innerDiv {
    position: absolute;
    height: 90vh;
    width: 4000px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    background-color: rgb(51, 99, 129);
    background-image: url('../../Images/footer-blue.png');
    z-index: 0;
}

.bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 29px;
    z-index: 4;
    width: 90%;
    color: rgba(42, 81, 109);
    font-family: 'Fontdiner Swanky';
    font-size: 30px;
    overflow: visible;
    /* background-color: blueviolet; */
}

.bottomBarText {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .innerDiv {
        width: 1500px;
    }
}

@media only screen and (min-width: 600px) {
    .innerDiv {
        width: 2000px;
    }
}

@media only screen and (min-width: 800px) {
    .innerDiv {
        width: 2400px;
    }
}

@media only screen and (min-width: 1000px) {
    .innerDiv {
        width: 3200px;
    }
}

@media only screen and (min-width: 1300px) {
    .innerDiv {
        width: 3500px;
    }
}

@media only screen and (min-width: 1500px) {
    .innerDiv {
        width: 4000px;
    }
}


.sideDiv {
    position: absolute;
    left: 0;
    width: 12px;
    height: 100%;
    background-color: rgb(206, 186, 186);
    z-index: 3;
}

.sideDivRight {
    position: absolute;
    right: 0;
    width: 12px;
    height: 100%;
    background-color: rgb(206, 186, 186);
    z-index: 3;
}
