.windowDiv {
    position: absolute;
    top: 0px;
    height: 720px;
    width: 720px;
    z-index: 3;
    pointer-events:none;
    font-size: 19px;
}

.windowVisible {
    visibility: visible;
}

.windowHidden {
    visibility: hidden;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6%;
    width: 21%;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.5 );
    border: solid 1px rgba(255,255,255,0.3);
    background-clip: padding-box;
    backdrop-filter: blur(15px);
    border: 1px solid rgb(236, 224, 224);
    color: rgba(42, 81, 109);
    font-family: 'Bebas Neue';
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.windowOne {
    position: absolute;
    top: 45px;
    left: 222px;
    top: 22%;
    left: 38%;
}
.windowTwo {
    position: absolute;
    top: 39%;
    left: 67%;
}
.windowThree {
    position: absolute;
    top: 70%;
    left: 67%;
}
.windowFour {
    position: absolute;
    top: 87%;
    left: 38%;
}
.windowFive {
    position: absolute;
    top: 70%;
    left: 10%;
}
.windowSix {
    position: absolute;
    top: 39%;
    left: 10%;
}

@media only screen and (max-width: 1330px), (max-height: 900px) {
    .windowDiv {
        height: 620px;
        width: 620px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1200px), (max-height: 800px) {
    .windowDiv {
        height: 520px;
        width: 520px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 900px), (max-height: 700px) {
    .windowDiv {
        height: 420px;
        width: 420px;
        top: 30px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px), (max-height: 600px) {
    .windowDiv {
        height: 360px;
        width: 360px;
       font-size: 10px;
    }
}
