.colorBall {
    visibility: visible;
    height: 233.5px;
    width: 233.5px;
    border-radius: 50%;;
    box-shadow: 10px 12px 20px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s linear 900ms, opacity 900ms;
}

.colorBall::before {
    content: '';
    position: absolute;
    top: 2%;
    left: 3%;
    width: 90%;
    height: 90%;
    border-radius:50%;
    background: radial-gradient(circle at 40% 50px, rgb(250, 230, 230), rgba(255, 255, 255, 0) 58%);
    filter: blur(3px);
    z-index: 2;
}

.colorBall:hover {
    overflow: visible;
    height: 236px;
    width: 236px;
}

#colorOne {
    position: absolute;
    align-self: flex-start;
}

#colorTwo {
    position: absolute;
    right: 30px;
    top: 116px;
}

#colorThree {
    position: absolute;
    right: 30px;
    bottom: 116px;
}

#colorFour {
    position: absolute;
    align-self: flex-end;
}

#colorFive {
    position: absolute;
    left: 30px;
    bottom: 116px;
}

#colorSix {
    position: absolute;
    left: 30px;
    top: 116px;
}
