.instructionDiv {
    display: flex;
    height: 470px;
    width: 790px;
    justify-content: space-around;
    font-family: 'Fontdiner Swanky';
}

.allModeDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modeDiv {
    display: flex;
}

.upperDiv {
    display: flex;
    width: 750px;
    height: 55px;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Fontdiner Swanky';
    font-weight: bold;
}

.downArrow {
    position: absolute;
    top: 40px;
    transform: rotate(90deg);
    margin-right: 163px;
    color:rgba(5, 13, 133, 0.9);
    font-size: 35px;
    margin-top: 20px;
}

.greetingDiv {
    display: flex;
    align-items: center;
}

.greetingText {
    color: rgba(5, 13, 133, 0.9);
    font-size: 18px;
    height: 55px;
    padding-top: 5px;
}

.biggerGreet {
    font-size: 35px;
    margin-right: 10px;
}

.logSignText {
    margin-left: 125px;
    margin-top: -5px;
    font-size: 18px;
}

.arrowText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 480px;
    height: 50px;
    margin-top: 30px;
}

.modeText {
    display: flex;
    align-items: center;
    color:  rgba(5, 13, 133, 0.9);
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
    height: 100%;
}

.arrow {
    font-size: 30px;
    margin-right: 3px;
    margin-left: 5px;
    color: rgba(5, 13, 133, 0.9);
    transform: rotate(180deg);
}

.goldButton {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 50%;
    font-family: 'Fontdiner Swanky';
    background-image: url('../../Images/gold.jpg');
    background-size: cover;
    background-size: 250% 250%;
    overflow: hidden;
    animation: TransitioningBackground 20s linear infinite;
    color: rgba(5, 13, 133, 0.9);
    border: 1px solid #503c11;
    z-index: 1;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    outline: none;
}

.goldButton:hover {
    background: rgba(5, 13, 133, 0.9);
    color: rgb(206, 186, 186);
}

.titleText {
    display: flex;
    justify-content: center;
    color: rgba(5, 13, 133, 0.9);
    font-size: 12px;
    font-family: 'Fraunces', serif;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 70px;
}

.zen {
    font-size: 30px;
}

.lowerDiv {
    display: flex;
}

.logStateButton {
    position: absolute;
    right: 48px;
    top: 32px;
    padding-top: 2px;
    height: 35px;
    width: 135px;
    margin-left: 10px;
    background-color: rgba(5, 13, 133, 0.9);
    border-radius: 5%;
    color:  rgb(206, 186, 186);
    font-family: 'Fontdiner Swanky';
    border-radius: 5px;
    overflow: hidden;
    border: none;
    outline: none;
}

.logStateButton:hover {
    background-image: linear-gradient(270deg, rgb(182, 5, 58), rgb(5, 13, 133, 0.9));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;
    cursor: pointer;
    outline: none;
}

.buttonDiv {
    height: auto;
    width: 100px;
}

.battle {
    animation: TransitioningBackground 21s linear infinite;
}

.demo {
    animation: TransitioningBackground 19s linear infinite;
}

.arrowLog {
    transform: rotate(360deg);
    margin-top: -5px;
}

.logArrowText {
    display: flex;
    margin-top: 10px;
}

@keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 50% 0%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 1% 0%;
    }
}
