.fullDiv {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Fontdiner Swanky';
    color: rgba(42, 81, 109);
}

.logInFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.signUpFormDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 80%;
    margin: 20px;
    font-size: 20px;
    padding-top: 5px;
}

input {
    display: flex;
    text-align: center;
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border: 4px solid rgba(42, 81, 109);
    background-color: rgb(206, 186, 186);
    background: linear-gradient( rgb(236, 224, 224) 0.5%,  rgb(212, 190, 194) 99.5%);
    color: rgba(42, 81, 109);
    font-family: 'Fontdiner Swanky';
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: rgba(42, 81, 109, 0.6);
    font-family: 'Fontdiner Swanky';
    font-size: 16px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loginForm {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.backButton {
    position: absolute;
    top: 15px;
    left: 370px;
    padding-top: 2px;
    height: 35px;
    width: 85px;
    margin-left: 10px;
    background-color: rgba(42, 81, 109);
    border-radius: 5%;
    color:  rgb(206, 186, 186);
    font-family: 'Fontdiner Swanky';
    border-radius: 5px;
    overflow: hidden;
    border: none;
    font-size: 17px;
    outline: none;
}

.backButton:hover {
    background-color:  rgb(255, 90, 0);
    color: rgba(42, 81, 109);
    cursor: pointer;
}

.logSignTitle {
    display: flex;
    align-items: flex-end;
    padding-bottom: 9px;
    height: 40px;
    margin-top: 10px;
    font-size: 30px;
}

.logTitle {
    margin-top: 22px;
    margin-bottom: 6px;
}

.logInput {
    margin-bottom: 10px;
}

.playerLabel {
    position: absolute;
    margin-top: 328x;
}

.passwordLabel {
    position: absolute;
    margin-top: 127px;
}

.playerPageButton {
    position: absolute;
    padding-top: 2px;
    height: 35px;
    width: 85px;
    margin-left: 10px;
    background-color: rgba(42, 81, 109);
    border-radius: 5%;
    color:  rgb(206, 186, 186);
    font-family: 'Fontdiner Swanky';
    border-radius: 5px;
    overflow: hidden;
    border: none;
    font-size: 17px;
    outline: none;
}

.thisDevText {
    display: flex;
    margin-left: 15px;
}

.arrowSpan {
    transform: rotate(180deg);
    margin-right: 3px;
}

#signUpButton {
    font-size: 16px;
}
