.fullBioDiv {
    display: flex;
    height: 100%;
    width: 100%;
    color: rgba(42, 81, 109);
    font-family: 'Fraunces', serif;
}

.bioDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
}

.contactProjectDiv {
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

.myPic {
    width: 90%;
    height: 45%;
    background-image: url('https://ik.imagekit.io/p5h3whhlyvs/Atitlan_kZjNG1Okd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    margin-top: 3px;
}

.bioTextDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28%;
    width: 100%;
    color: rgba(42, 81, 109);
    font-family: 'Fraunces', serif;
    padding-left: 2px;
}

.contactText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 90%;
}

.contactDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 90%;
}

.projectDiv {
    display: flex;
    height: 65%;
    width: 95%;
}


.bioBackButton {
    position: absolute;
    right: 48px;
    top: 40px;
}


.bioText {
    text-align: center;
    height: 100%;
    width: 85%;
    font-size: 15px;
    margin-top: 35px;
    line-height: 17px;
}

.upperBioText {
    height: 70%;
}

.bioFancyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url('../../Images/Silver.jpg');
    background-size: cover;
    background-size: 250% 250%;
    overflow: hidden;
    animation: TransitioningBackground 10s linear infinite;
    color: rgba(42, 81, 109);
    border: 1px solid rgb(221, 217, 217);
    z-index: 1;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-right: 5px;
}

.upperFancy {
    margin-top: 25px;
}

.krazyFont {
    font-family: 'Fontdiner Swanky';
}

.linkedIn {
    height: 55px;
    width: 55px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url('../../Images/linkedIn.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgb(62, 65, 68);
    box-sizing: border-box;
    border-radius: 20%;
}

.gitHub {
    margin-right: 10px;
    margin-left: 10px;
    height: 55px;
    width: 55px;
    background-image: url('../../Images/github.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgba(42, 81, 109);
    box-sizing: border-box;
    border-radius: 20%;
}

.bioBackButton {
    position: absolute;
    right: 220px;
    top: 10px;
    padding-top: 2px;
    height: 35px;
    width: 85px;
    margin-left: 10px;
    background-color: rgba(42, 81, 109);
    border-radius: 5%;
    color:  rgb(206, 186, 186);
    font-family: 'Fontdiner Swanky';
    border-radius: 5px;
    overflow: hidden;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

.sfsgDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    width: 230px;
    background-color:#368a42;
    font-size: 15px;
    border: 6px solid  #ffc200;;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    color: whitesmoke;
    border-radius: 5px;
}

.sfsgLink {
    height: 65px;
    width: 130px;
    margin-bottom: 15px;
    margin-top: 5px;
    background-image: url('../../Images/sfsg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.openBookLink {
    height: 70px;
    width: 180px;
    background-image: url('../../Images/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.openBookDiv {
    position: absolute;
    right: 27px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    width: 230px;
    background-color: rgba(229, 229, 240, 0.9);
    font-size: 15px;
    text-align: center;
    border: 6px solid  rgba(66, 66, 133, 0.9);
    box-sizing: border-box;
    color:  rgba(1, 5, 53, 0.9);
    padding: 5px;
    border-radius: 5px;
}

.sfsgSpan {
    color: #ffc200;
}

.openBookSpan {
    color: rgba(0, 168, 255, 0.7);
}

.openBookTextLink {
    color: rgba(0, 168, 255, 0.7);
    font-size: 19px;
}

.sfsgTextLink {
    color: #ffc200;
    font-size: 18px;
}

.websiteLink {
    font-size: 20px;
    position: absolute;
    color: rgb(67, 169, 233)
}

.emailLink {
    font-size: 20px;
    color: rgb(67, 169, 233);
    font-family: 'Fraunces', serif;
}

.websiteLink:hover, .emailLink:hover{
    color: rgb(255, 90, 0);
    cursor: pointer;
    outline: none;
}

.gitHub, .linkedIn {
    position: absolute;
}

.gitHub {
    right: 370px;
}

.linkedIn {
    right: 80px;
}

.gitHub:hover, .linkedIn:hover {
    height: 58px;
    width: 58px;
    border: 4px solid rgb(255, 90, 0);
    cursor: pointer;
    outline: none;
}

.sfsgDiv:hover, .openBookDiv:hover {
    bottom: 15px;
    cursor: pointer;
    outline: none;
}

.bioBackButton:hover {
    background-color: rgb(255, 90, 0);
    color: rgba(42, 81, 109);
    cursor: pointer;
    outline: none;
}
