.playerDiv {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Fontdiner Swanky';
    color:rgba(42, 81, 109);
    font-size: 30px;
}

.leftSideDiv {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightSideDiv {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.nameText {
    font-size: 40px;
    align-self: center;
    height: 20%;
    margin-top: 100px;
}

.fancyDisplayDiv {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.playerButton {
    display: flex;
    height: 55px;
    width: 55px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.yourDisplayText {
    margin-top: 15px;
    margin-right: 20px;
}

.koinText {
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .leftSideDiv {
        width: 100%;
    }
    .rightSideDiv {
        width: 0%;
        visibility: hidden;
    }
}
