.scoringDiv {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    font-family: 'Fontdiner Swanky';
    color: rgba(42, 81, 109);
    font-size: 35px;
}

.scoringHalf {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.bowlScoringDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 189, 227);
    background-image: url('../../Images/footer-blue.png');
    background-size: 110% 50%;
    height: 100%;
    width: 290px;
    border: 4px solid rgb(255, 90, 0);
    box-sizing: border-box;
    border-radius: 5px;
}

.scoringLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    color: rgb(212, 190, 194);
}

.scoringLabelTop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    margin-top: 130px;
    color: rgb(212, 190, 194);
}

#scoringHiScore {
    position: absolute;
    top: 25px;
    right: 25px;
}



.displayScoringDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 180px;
    border-top: 2px solid rgba(42, 81, 109, 0.5);
    border-bottom: 2px solid rgb(12, 99, 161, 0.5);
    box-sizing: border-box;
    margin-right: 10px;
    margin-left: 13px;
}

#scoringBowl {
    position: absolute;
    bottom: 35px;
}

#scoringBowlTop {
    position: absolute;
    top: 45px;
}

.scoringDisplay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 15%;
    font-size: 50px;
    margin-top: 20px;
}

.topScore {
    position: absolute;
    top: 30px;
}

.bottomScore {
    position: absolute;
    overflow: hidden;
    top: 140px;
}

.topArith {
    position: absolute;
    top: 105px;
}

.bottomArith {
    position: absolute;
    top: 215px;
}

.arithmetic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 25px;
    margin-bottom: 25px;
}

.raising {
    animation-name: raise;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
    visibility: hidden;
}

.flashing {
    animation-name: flash;
    animation-duration: .4s;
}

.totalFlashing {
    animation-name: totalFlash;
    animation-duration: .4s;
}

.topFall {
    animation-name: topFall;
    animation-duration: .6s;
    animation-timing-function: ease-in;
    visibility: hidden;
}

.middleFall {
    animation-name: middleFall;
    animation-duration: .6s;
    animation-timing-function: ease-in;
    visibility: hidden;
}

.hidden {
    animation-name: hideThis;
    animation-duration: .4s;
    visibility: hidden;
}

@keyframes hideThis {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes topFall {
    0% {
        top: 30px;
        visibility: visible;
    }
    100% {
        top: 130px;
        visibility: hidden;
    }
}

@keyframes middleFall {
    0% {
        top: 140px;
        visibility: visible;
    }
    100% {
        top: 270px;
        visibility: hidden;
    }
}

@keyframes raise {
    0% {
        top: 215px;
        visibility: visible;
    }
    100% {
        top: 200px;
        visibility: hidden;
    }
}

@keyframes flash {
    0% {
        color: rgba(42, 81, 109);
        font-size: 50px;
    }
    50% {
        font-size: 52px;
    }
    100% {
        color: rgba(42, 81, 109);
        font-size: 50px;
    }
}

@keyframes totalFlash {
    0% {
        color: rgba(42, 81, 109);
        font-size: 70px;
    }
    50% {
        font-size: 72px;
    }
    100% {
        color: rgba(42, 81, 109);
        font-size: 70px;
    }
}

.totalDisplayDiv {
    position: absolute;
    top: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 100%;
    height: 25%;
    margin-bottom: 10px;
}

.totalDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.totalLabel {
    position: absolute;
    bottom: -5px;
    font-size: 25px;
}

#homeButton {
    position: absolute;
    top: 360px;
    left: 530px;
}

#testButton {
    position: absolute;
    top: 380px;
    left: 0px;
}

#playButton {
    position: absolute;
    top: 360px;
    left: 700px;
}

@media only screen and (max-width: 900px) {
    #scoringHiScore {
        visibility: hidden;
    }
    #playButton {
        top: 10px;
        left: 290px;
    }
    #homeButton {
        top: 10px;
        left: 390px;
    }
}
