
.backDrop {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bannerDiv {
    height: 70px;
}

.upperRoundDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 93vh;
    background-color: rgb(206, 186, 186);
    z-index: 0;
}

.innerDiv {
    position: absolute;
    height: 90vh;
    width: 4000px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    background-color: rgba(5, 13, 133, 0.9);
    z-index: 0;
}

.bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    z-index: 4;
    width: 90%;
    color: rgba(5, 13, 133, 0.9);
    font-family: 'Fontdiner Swanky';
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .innerDiv {
        width: 1500px;
    }
}

@media only screen and (min-width: 600px) {
    .innerDiv {
        width: 2000px;
    }
}

@media only screen and (min-width: 800px) {
    .innerDiv {
        width: 2400px;
    }
}

@media only screen and (min-width: 1000px) {
    .innerDiv {
        width: 3200px;
    }
}

@media only screen and (min-width: 1300px) {
    .innerDiv {
        width: 3500px;
    }
}

@media only screen and (min-width: 1500px) {
    .innerDiv {
        width: 4000px;
    }
}

.startButton {
    margin-bottom: 5px;
    height: 60px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    box-shadow: 4px 5px 20px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    color: rgb(230, 220, 220);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    font-family: 'Fontdiner Swanky';
    background-image: linear-gradient(270deg, rgb(182, 5, 58), rgb(5, 13, 133, 0.9));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;
    font-size: 25px;
}

.startButton:hover {
    background-image: linear-gradient(to left, rgb(5, 13, 133, 0.9), rgb(182, 5, 58));
    height: 65px;
    width: 145px;
    cursor: pointer;
}

.sideDiv {
    position: absolute;
    left: 0;
    width: 12px;
    height: 100%;
    background-color: rgb(206, 186, 186);
    z-index: 3;
}

.sideDivRight {
    position: absolute;
    right: 0;
    width: 12px;
    height: 100%;
    background-color: rgb(206, 186, 186);
    z-index: 3;
}
